body {
background-image: url("../img/background.jpg") ;
background-position:center;
background-repeat: no-repeat;
background-size: cover;
}

h1 {
	color: red;
	font-family: Arial;
	font-size: 54px;

}

.navbar{
	color: white;
}

.navbar-title {color: white;}
.navbar-brand{float: left;}

.nav-link {

	color: white;
	float: left;
}

.navbar-brand{color: white;}

nav a: hover {
     color: red;
}

.jet { 

height: 70%;
width: 100%; }